---
import Logo from "../assets/logo.png"
---

<header class="flex flex-row py-md px-xxl border-b border-border items-center justify-center md:justify-between">
    <a href="/" aria-label="FindVaidya Home">
    <img src={Logo.src} id="logo" alt="FindVaidya Logo" class="h-auto w-20"/>
    </a>
    <nav>
       <a href="/register"aria-label="Register as a doctor" class="py-sm px-lg text-base text-muted border border-border rounded-lg hover:cursor-pointer hover:color-text hover:bg-gray-100 hidden md:block">List your Practice for Free</a>
    </nav>
 </header>