---
import PageTitleContainer from "../components/PageTitleContainer.astro"
import Card from "../components/Card.astro";
const title = `Find Trusted Doctors Near You,<br /> Launching Soon!`;
const subtitle = 'Your health matters. FindVaidya is here to connect you with verified trusted doctors based on your needs effortlessly.'
---
<PageTitleContainer title={title} subtitle={subtitle} />
    <!-- <section class="flex flex-col flex-nowrap gap-md w-full md:max-w-4xl md:flex-row"> -->
       <Card cardHeading='Are You a Doctor?' cardBody=`Join our growing network of trusted healthcare professionals. Register now for <strong>free</strong> to be part of FindVaidya and reach patients easily` cardLink='register.html' cardButton='List your Practice for Free'/> 
    <!-- </section> -->